*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 16rem repeat(23, [row-start] minmax(min-content, 8rem) [row-end]);
  grid-template-columns: 16rem repeat(12, [col-start] minmax(min-content, 19rem) [col-end]); }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--light {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--light {
    color: #54483A; }

.heading-4 {
  font-size: 1.9rem;
  color: #000; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--light {
    color: #54483A; }

.btn {
  background-color: #f4954b;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #A74900; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #f4954b;
  grid-column: 1 / 2;
  grid-row: 2 / 24; }

.header {
  background-color: #f4954b;
  display: grid;
  grid-column: 4 / -1;
  grid-row: 1 / 2;
  padding: 8rem;
  padding-top: 4rem; }

.footer {
  background-color: #A74900;
  display: grid;
  grid-column: 1 /-1;
  grid-row: 24 / 25; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--light {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--light {
    color: #54483A; }

.heading-4 {
  font-size: 1.9rem;
  color: #000; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--light {
    color: #54483A; }

.btn {
  background-color: #f4954b;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #A74900; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
