*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 8rem repeat(24, [row-start] minmax(min-content, 8rem) [row-end]);
  grid-template-columns: 8rem repeat(11, 19rem); }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--light {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--light {
    color: #54483A; }

.heading-4 {
  font-size: 1.9rem;
  color: #000; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--light {
    color: #54483A; }

.btn {
  background-color: #85817E;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #4A4847; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #85817E;
  grid-column: 1 / 2;
  grid-row: 2 / 24;
  display: flex;
  justify-content: center; }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: white;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: white;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  background-color: #85817E;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 1; }
  .header__logo {
    height: 3rem;
    justify-self: center; }

.footer {
  background-color: #4A4847;
  display: grid;
  grid-column: 1 /-1;
  grid-row: 24 / -1; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--light {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--light {
    color: #54483A; }

.heading-4 {
  font-size: 1.9rem;
  color: #000; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--light {
    color: #54483A; }

.btn {
  background-color: #85817E;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #4A4847; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.registration {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column: 7 / 10;
  grid-row: 5 / 11;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.registration-form {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  justify-items: center; }

.registration__logo {
  width: 62.5%;
  grid-row: 4 / 5;
  grid-column: 7 / 10;
  justify-self: center; }
