// COLOR VARIABLES
$color-primary: #f4954b;
$color-primary-dark: #A74900;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Roboto', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5%
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 16rem repeat(23, [row-start] minmax(min-content, 8rem)[row-end]);
    grid-template-columns: 16rem repeat(12, [col-start] minmax(min-content, 19rem)[col-end]);
}

